* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #181414;
}
.heading {
  text-align: center;
  font-size: 72px;
  font-family: "Nabla", system-ui;
  background: -webkit-linear-gradient(#14b4fc, #c828a4);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 3.2rem 0;
}

.my-masonry-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  margin: auto;
}
.my-masonry-grid_column {
  background-clip: padding-box;
  padding: 10px;
}

.my-masonry-grid_column > div {
  margin-bottom: 10px;
}
.image {
  width: 100%;
}
